# msal
fastapi
uvicorn
langchain
langchain-core
langchain-openai
openai
pdfplumber
requests
streamlit
python-dotenv
langchain_community
python-multipart
psycopg2-binary 
sqlalchemy 
scikit-learn
loguru
tqdm
ai-api-client-sdk 
# dotenv
# fastapi
# langchain_openai
pandas
loguru 
pydantic
fuzzywuzzy