fastapi==latest
uvicorn==latest
langchain==latest
langchain_core==latest
langchain_openai==latest
openai==latest
pdfplumber==latest
requests==latest
streamlit==latest
langchain_community==latest
psycopg2_binary==latest
sqlalchemy==latest 
loguru==latest
tqdm==latest
pandas==latest
loguru==latest 
pydantic==latest
fuzzywuzzy==latest
streamlit_modal==latest
streamlit_ace==latest
loguru==latest