fastapi
uvicorn
langchain
langchain-core
langchain-openai
openai
pdfplumber
requests
streamlit
langchain_community
psycopg2-binary 
sqlalchemy 
loguru
tqdm
pandas
loguru 
pydantic
fuzzywuzzy
streamlit_modal
streamlit_ace
loguru